@media (max-width: 1400px) {
  .school-name {
    color: white;
    font-size: 30px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .seconnd-container {
    height: 1000px;
    width: 100%;
    background-color: ghostwhite;
    position: relative;
  }
  .img1 {
    /* background-color: red; */
    position: absolute;
    top: 150px;
    left: 25px;
  }
  .img2 {
    position: absolute;
    /* background-color: red; */
    left: 92%;
  }
  .img3 {
    position: absolute;
    top: 74%;
    /* background-color: red; */
    /* left: 100px;s */
  }
  .img4 {
    position: absolute;
    top: 84%;
    left: 92%;
  }
}
@media (max-width: 992px) {
  .school-name {
    color: white;
    font-size: 22px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .Admission-content {
    color: white;
    font-size: 17px;
    font-weight: bold;
  }
  .img1 {
    /* background-color: red; */
    position: absolute;
    top: 150px;
    left: 1px;
    height: 200px;
  }
  .img2 {
    position: absolute;
    /* background-color: red; */
    left: 89%;
  }
  .img3 {
    position: absolute;
    top: 68%;
    height: 180px;
    /* background-color: red; */
    /* left: 100px;s */
  }
  .img4 {
    position: absolute;
    top: 80%;
    left: 91%;
  }
  .seconnd-container {
    /* height: 600px; */
    width: 100%;
    background-color: ghostwhite;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .school-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .school-name {
    color: white;
    font-size: 17px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .solgan {
    font-size: 14px !important;
    color: white;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .seconnd-container {
    /* height: 1200px; */
    width: 100%;
    /* background-color: red; */
    position: relative;
    /* overflow: hidden; */
  }
  .contentSlide {
    position: absolute;

    top: 40px;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 574px) {
  .firstcontainer {
    background-image: url("../images/Group\ 141.png");
    background-size: cover; /* cover whole div */
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
  }
  .Admission-content {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .seconnd-container {
    /* height: 700px;
    width: 100%; */
    /* background-color: red; */
    position: relative;
    /* overflow: hidden; */
  }
  .contentSlide {
    position: absolute;

    top: 100px;
    padding: 0px 10px;
  }
}
