/* XL & XXL only → single line */
@media (min-width: 1200px) {
  .box2 {
    flex-wrap: nowrap;
  }

  .box2 p {
    white-space: nowrap;
  }
}
@media (max-width: 600) {
  .sdfsdf img {
    transform: scale(0.9);
  }
}
@media (max-width: 450) {
  .sdfsdf img {
    transform: scale(0.7);
  }
}

/* @media (max-width: 1350px) {
  .socialList {
    visibility: hidden;
  }
  .firstconatiner {
    height: 120px;
    display: flex;
    align-items: center;
    width: 100%;

    background-image: none;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
  }
}
@media (max-width: 700px) {
  .socialList {
    visibility: hidden;
  }
  .firstconatiner {
    height: 120px;
    display: flex;
    align-items: center;
    width: 100%;

    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
  }
  .titleheader {
    font-size: 17px;
    font-weight: bold;
    color: #06065c;

    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .titlesmallcontent {
    font-size: 12px;
    font-weight: bold;
    color: #06065c;
  }
}

@media (max-width: 1000px) {
  .socialList {
    visibility: hidden;
  }
} */

@media (max-width: 1385px) {
  .box1 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  .firstconatiner {
    height: 120px;
    display: flex;
    align-items: center;
    width: 100%;

    background-image: none;
    background-repeat: no-repeat;
    background-size: cover; /* important */
    background-position: center; /* important */
  }

  .iconsborder {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .iconscolor {
    color: black !important;
  }
  .textLogin {
    padding-top: 5px;
  }
  /* .bannerConatiner {
    margin-top: 30px;
  } */
  .sdfsdf img {
    transform: scale(1.2);
  }
  .whiteborderline {
    position: absolute;
    bottom: 20px;
    left: 35%;
    transform: translateX(-50%);
    background-color: white;
    width: 75%;
    height: 2px;
    z-index: 2;
  }
  .arrowleft {
    position: absolute;
    bottom: 8px;

    left: 85%;
    transform: translateX(-50%);

    z-index: 2;
  }
  .arrowright {
    position: absolute;
    bottom: 8px;

    left: 95%;
    transform: translateX(-50%);

    z-index: 2;
  }

  .announcementslide .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: 0px !important;
    bottom: -20px;
    /* background-color: red; */
  }
  .Announcementarrowleft {
    position: absolute;
    bottom: -30px;

    left: 40%;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
  .Announcementarrowright {
    position: absolute;
    bottom: -30px;

    left: 60%;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
}

@media (max-width: 580px) {
  .box1 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  .firstconatiner {
    display: flex;
    align-items: center;
    width: 100%;

    background-image: none;
    background-repeat: no-repeat;
    background-size: cover; /* important */
    background-position: center; /* important */
  }
  /* .socialMenusGrid {
    background: linear-gradient(#06065c, #78042f, #ed0101);
  } */
  .titleheader {
    font-size: 14px;
    font-weight: bold;
    color: #06065c;
  }
  .titlesmallcontent {
    font-size: 10px;
    font-weight: bold;
    color: #06065c;
  }
  .iconsborder {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
  }
  .iconscolor {
    color: black !important;
  }
  .textLogin {
    padding-top: 5px;
  }
  /* .bannerConatiner {
    margin-top: 51px;
  } */
  .box2 p {
    color: white;
    font-weight: bold;
    white-space: normal;
    font-size: 14px;
  }
  .titleBannwe3 {
    color: red;
    font-size: 25px;
    font-weight: bold;
  }
  .wordingsContent {
    font-size: 14px;
  }
  .titleBannwe4 {
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
  .cardCoontainer4 .heading {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0; /* optional */
  }
  .cardCoontainer4 .smallheading {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0; /* optional */
  }
  .cardCoontainer4 .paracontent {
    font-size: 14px;
    color: white;
  }
  .bannerContainerTitle5 {
    color: red;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
  }
  .DefenceTitle {
    color: #06065c;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    /* display: inline-block; */
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .DefenceTitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%; /* increase line length */
    height: 2px;
    background-color: #06065c;
  }
  .DefenceTitle1 {
    color: #06065c;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    /* display: inline-block; */
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .DefenceTitle1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%; /* increase line length */
    height: 2px;
    background-color: #06065c;
  }
  ul li {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
  }
  .btntitle {
    font-weight: bold;
    color: red;
    font-size: 12px;
  }
  .responsive-img {
    width: 70%;
  }
  .sdfsdf img {
    transform: scale(1.2);
  }
  .containerTitlePlatform .platformtitle {
    font-family: "Manrope", sans-serif !important;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .supportConatiner .platformtitle {
    font-family: "Manrope", sans-serif !important;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 25px;
    color: red;
  }
  .Organisation .platformtitle {
    font-family: "Manrope", sans-serif !important;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 25px;
    color: red;
  }
  .oraganisationcontent {
    font-size: 14px;
  }
  .footerAddress {
    font-size: 17px;
    color: white;
    text-transform: uppercase;
  }
  .UsefulLiks {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }
  .footerpara {
    color: white;
    font-size: 14px;
  }
  .cpyrightpara {
    color: white;
    font-size: 14px;
  }

  .owl-theme .owl-dots .owl-dot {
    width: 15px !important;
  }

  .announcementslide .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: 0px !important;
    bottom: -20px;
    /* background-color: red; */
  }
  .Announcementarrowleft {
    position: absolute;
    bottom: -22px;
    width: 25px;

    left: 37% !important;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
  .Announcementarrowright {
    position: absolute;
    bottom: -22px;
    width: 25px;

    left: 65% !important;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
  .UsefulLiks {
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* border-bottom: 2px solid white; */
    padding-bottom: 10px;
    position: relative;
  }
  .UsefulLiks::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120%; /* increase line length */
    height: 2px;
    background-color: white;
  }
}

@media (max-width: 470px) {
  .box1 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  .firstconatiner {
    display: flex;
    align-items: center;
    width: 100%;

    background-image: none;
    background-repeat: no-repeat;
    background-size: cover; /* important */
    background-position: center; /* important */
  }
  /* .socialMenusGrid {
    background: linear-gradient(#06065c, #78042f, #ed0101);
  } */
  .titleheader {
    font-size: 12px !important;
    font-weight: bold;
    color: #06065c;

    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .titlesmallcontent {
    font-size: 10px !important;
    font-weight: bold;
    color: #06065c;
  }
  .iconsborder {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
  }
  .iconscolor {
    color: black !important;
  }
  .textLogin {
    padding-top: 5px;
  }
  /* .bannerConatiner {
    margin-top: 57px;
  } */

  /* DEFAULT: Mobile safe */
  .box2 p {
    color: white;
    font-weight: bold;
    white-space: normal;
    font-size: 12px;
  }

  .titleBannwe3 {
    color: red;
    font-size: 20px;
    font-weight: bold;
  }
  .wordingsContent {
    font-size: 12px;
  }
  .titleBannwe4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .cardCoontainer4 .heading {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0; /* optional */
  }
  .cardCoontainer4 .smallheading {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 0; /* optional */
  }
  .cardCoontainer4 .paracontent {
    font-size: 14px;
    color: white;
  }
  .bannerContainerTitle5 {
    color: red;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
  }

  .DefenceTitle {
    color: #06065c;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    /* display: inline-block; */
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .DefenceTitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%; /* increase line length */
    height: 2px;
    background-color: #06065c;
  }
  .DefenceTitle1 {
    color: #06065c;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    /* display: inline-block; */
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .DefenceTitle1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* increase line length */
    height: 2px;
    background-color: #06065c;
  }
  ul li {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
  }

  .btntitle {
    font-weight: bold;
    color: red;
    font-size: 12px;
  }
  .containerTitlePlatform .platformtitle {
    font-family: "Manrope", sans-serif !important;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .responsive-img {
    width: 70%;
  }
  .sdfsdf img {
    transform: scale(1.2);
  }
  .supportConatiner .platformtitle {
    font-family: "Manrope", sans-serif !important;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 20px;
    color: red;
  }
  .Organisation .platformtitle {
    font-family: "Manrope", sans-serif !important;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 20px;
    color: red;
  }
  .oraganisationcontent {
    font-size: 14px;
  }
  .wordingsContent {
    font-size: 10px;
  }
  .footerAddress {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
  }
  .UsefulLiks {
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* border-bottom: 2px solid white; */
    padding-bottom: 10px;
    position: relative;
  }
  .UsefulLiks::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120%; /* increase line length */
    height: 2px;
    background-color: white;
  }
  .footerpara {
    color: white;
    font-size: 14px;
  }
  .cpyrightpara {
    color: white;
    font-size: 14px;
  }
}
@media (max-width: 770px) {
  .box1 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  .titleheader {
    font-size: 17px;
    font-weight: bold;
    color: #06065c;

    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .titlesmallcontent {
    font-size: 13px;
    font-weight: bold;
    color: #06065c;
  }
  .photoimgbanner1 {
    position: relative;
  }

  /* White line */
  .whiteborderline {
    position: absolute;
    bottom: 20px;
    left: 40%;
    transform: translateX(-50%);
    background-color: white;
    width: 75%;
    height: 2px;
    z-index: 2;
  }
  .arrowleft {
    position: absolute;
    bottom: 8px;
    width: 25px;
    left: 85%;
    transform: translateX(-50%);

    z-index: 2;
  }
  .arrowright {
    position: absolute;
    bottom: 8px;
    width: 25px;
    left: 95%;
    transform: translateX(-50%);

    z-index: 2;
  }
  /* Owl dots */
  .hero-carousel .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: 0px !important;
    bottom: -40px;
  }
  .owl-theme .owl-dots .owl-dot {
    width: 15px !important;
  }

  .announcementslide .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: 0px !important;
    bottom: -20px;
    /* background-color: red; */
  }
  .Announcementarrowleft {
    position: absolute;
    bottom: -22px;
    width: 25px;

    left: 44%;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
  .Announcementarrowright {
    position: absolute;
    bottom: -22px;
    width: 25px;

    left: 57%;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
  .Btn {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    color: red;
    cursor: pointer;
  }
  .Btn:hover {
    background-color: red;
    color: white;
  }

  .Btn p {
    margin: 0;
  }
  .footer-logo {
    height: 100px;
    width: 40%;
  }
}

@media (max-width: 358px) {
  .box1 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  .titleheader {
    font-size: 9px !important;
    font-weight: bold;
    color: #06065c;

    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .titlesmallcontent {
    font-size: 8px !important;
    font-weight: bold;
    color: #06065c;
  }
  .owl-theme .owl-dots .owl-dot {
    width: 14px !important;
  }
  .whiteborderline {
    position: absolute;
    bottom: 20px;
    left: 40%;
    transform: translateX(-50%);
    background-color: white;
    width: 75%;
    height: 2px;
    z-index: 2;
  }
  .arrowleft {
    position: absolute;
    bottom: 8px;

    left: 85%;
    transform: translateX(-50%);

    z-index: 2;
  }
  .arrowright {
    position: absolute;
    bottom: 8px;

    left: 95%;
    transform: translateX(-50%);

    z-index: 2;
  }

  .announcementslide .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: 0px !important;
    bottom: -20px;
    /* background-color: red; */
  }
  .Announcementarrowleft {
    position: absolute;
    bottom: -22px;
    width: 25px;

    left: 34% !important;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
  .Announcementarrowright {
    position: absolute;
    bottom: -22px;
    width: 25px;

    left: 70% !important;
    transform: translateX(-50%);

    z-index: 2;
    cursor: pointer;
  }
  .UsefulLiks {
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* border-bottom: 2px solid white; */
    padding-bottom: 10px;
    position: relative;
  }
  .UsefulLiks::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120%; /* increase line length */
    height: 2px;
    background-color: white;
  }
}
