@media (max-width: 1400px) {
  .school-name {
    color: white;
    font-size: 30px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .seconnd-container {
    height: 1000px;
    width: 100%;
    background-color: ghostwhite;
    position: relative;
  }
  .img1 {
    position: absolute;
    top: 150px;
    left: 25px;
  }
  .img2 {
    position: absolute;

    left: 92%;
  }
  .img3 {
    position: absolute;
    top: 74%;

    /* left: 100px;s */
  }
  .img4 {
    position: absolute;
    top: 84%;
    left: 92%;
  }
  .choose-para {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  .chair-person {
    background-color: #04132a;
  }

  .title-chairperson {
    color: white;
    font-size: 35px;
    font-weight: bold;
  }
  .chairperson-container {
    /* background-color: #ff6600; */
    width: 80%;
  }
  .Name-para {
    font-size: 25px;
    color: white;
  }
  /* ===== MAIN CONTAINER ===== */
  .sdzdgg {
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  /* ===== IMAGE CIRCLE ===== */
  .imgWrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
  }

  /* ===== IMAGE FIT ===== */
  .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Student-title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }

  /* ===== POSITION ===== */
  .depart {
    margin: 0;
    font-size: 10px;
    color: #666;
  }
}
@media (max-width: 992px) {
  .school-name {
    color: white;
    font-size: 22px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .Admission-content {
    color: white;
    font-size: 17px;
    font-weight: bold;
  }
  .img1 {
    position: absolute;
    top: 150px;
    left: 1px;
    height: 200px;
  }
  .img2 {
    position: absolute;
    left: 89%;
  }
  .img3 {
    position: absolute;
    top: 68%;
    height: 180px;
  }
  .img4 {
    position: absolute;
    top: 80%;
    left: 91%;
  }
  .contentSlide {
    top: 35px !important;
  }
  .seconnd-container {
    width: 100%;
    background-color: ghostwhite;
    position: relative;
  }
  .footer-school-name {
    color: white;
    font-size: 22px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .solgan {
    color: white;
  }
  .footer-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  /* ===== MAIN CONTAINER ===== */
  .sdzdgg {
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  /* ===== IMAGE CIRCLE ===== */
  .imgWrapper {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
  }

  /* ===== IMAGE FIT ===== */
  .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Student-title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }

  /* ===== POSITION ===== */
  .depart {
    margin: 0;
    font-size: 10px;
    color: #666;
  }
}

@media screen and (max-width: 768px) {
  .school-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .school-name {
    color: white;
    font-size: 17px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .solgan {
    font-size: 14px !important;
    color: white;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .seconnd-container {
    height: 770px;
    width: 100%;
    /* background-color: red; */
    position: relative;
    /* overflow: hidden; */
  }
  .contentSlide {
    position: absolute;
    width: 75%;
    top: 10px !important;
    padding: 0px 10px;
  }
  .powered-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin: 40px 0; */
  }

  .powered-gallery {
    flex: 1;
    height: 4px;
    background-color: black;
  }

  .powered-title {
    color: #08254f;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
    font-weight: bold;
  }
  .footer-school-name {
    color: white;
    font-size: 17px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .solgan {
    color: white;
  }
  .footer-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }

  /* ===== MAIN CONTAINER ===== */
  .sdzdgg {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  /* ===== IMAGE CIRCLE ===== */
  .imgWrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
  }

  /* ===== IMAGE FIT ===== */
  .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Student-title {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }

  /* ===== POSITION ===== */
  .depart {
    margin: 0;
    font-size: 8px;
    color: #666;
  }
  .gallery-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* margin: 40px 0; */
  }
}

@media screen and (max-width: 574px) {
  .firstcontainer {
    background-image: url("../images/Group\ 141.png");
    background-size: cover; /* cover whole div */
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
  }
  .Admission-content {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .seconnd-container {
    height: 1200px;
    width: 100%;
    /* background-color: red; */
    position: relative;
    /* overflow: hidden; */
  }
  .contentSlide {
    position: absolute;

    top: 20px !important;
    padding: 0px 10px;
  }
  .hero-carousel .owl-dots {
    position: absolute;
    top: 90%;
    /* left: 10px; */
    transform: translateY(-50%);
    display: flex;
    justify-content: end !important;
    width: 100%;
    margin-top: 0px !important;
  }

  .chair-person {
    background-color: #04132a;
  }

  .title-chairperson {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .chairperson-container {
    /* background-color: #ff6600; */
    width: 80%;
  }
  .Name-para {
    font-size: 20px;
    color: white;
  }
  .title-choose {
    font-size: 25px;
  }
  .choose-para {
    font-size: 15px;
  }
  .choose-carousel .owl-dots .owl-dot.active span {
    background: #ff6600 !important;
    height: 12px !important;
    width: 12px !important;
  }

  .choose-carousel .owl-dot span {
    background-color: white !important;
    height: 12px !important;
    width: 12px !important;
  }

  /* ===== MAIN CONTAINER ===== */
  .sdzdgg {
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
b
  /* ===== IMAGE CIRCLE ===== */
  .imgWrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
  }

  /* ===== IMAGE FIT ===== */
  .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Student-title {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }

  /* ===== POSITION ===== */
  .depart {
    margin: 0;
    font-size: 8px;
    color: #666;
  }
  .title-chairperson {
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
  .overlaypara {
    font-size: 15px !important;
    color: white;
  }
}

@media screen and (max-width: 474px) {
  .firstcontainer {
    background-image: url("../images/Group\ 141.png");
    background-size: cover; /* cover whole div */
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
  }
  .school-name {
    color: white;
    font-size: 15px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .solgan {
    font-size: 11px !important;
    color: white;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .Admission-content {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .seconnd-container {
    height: 980px;
    width: 100%;
    /* background-color: red; */
    position: relative;
    /* overflow: hidden; */
  }
  .contentSlide {
    position: absolute;

    top: 30px !important;
    padding: 0px 10px;
  }
  .hero-carousel {
    position: relative;
  }

  .hero-carousel .owl-dots {
    position: absolute;
    top: 90%;
    /* left: 10px; */
    transform: translateY(-50%);
    display: flex;
    justify-content: end !important;
    width: 100%;
    margin-top: 0px !important;
  }

  .overlay-content {
    position: absolute;
    bottom: 10px; /* ABOVE DOTS */
    left: 10px;
    color: #fff;
    z-index: 2;
  }

  .overlay-content h4 {
    margin: 0;
  }
  .title-choose {
    font-size: 25px;
  }
  .choose-para {
    font-size: 12px;
  }
  .choose-carousel .owl-dots .owl-dot.active span {
    background: #ff6600 !important;
    height: 12px !important;
    width: 12px !important;
  }

  .choose-carousel .owl-dot span {
    background-color: white !important;
    height: 12px !important;
    width: 12px !important;
  }
  /* ===== MAIN CONTAINER ===== */
  .sdzdgg {
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  /* ===== IMAGE CIRCLE ===== */
  .imgWrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
  }

  /* ===== IMAGE FIT ===== */
  .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ===== NAME ===== */
  .Student-title {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }

  /* ===== POSITION ===== */
  .depart {
    margin: 0;
    font-size: 8px;
    color: #666;
  }
  .gallery-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* margin: 40px 0; */
  }

  .border-gallery {
    flex: 1;
    height: 4px;
    background-color: black;
  }

  .Gallery-title {
    color: #08254f;
    font-size: 25px;
    margin: 0;
    white-space: nowrap;
  }

  .title-chairperson {
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
  .overlaypara {
    font-size: 10px !important;
    color: white;
  }
}
@media screen and (max-width: 374px) {
  .firstcontainer {
    background-image: url("../images/Group\ 141.png");
    background-size: cover; /* cover whole div */
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
  }
  .school-name {
    color: white;
    font-size: 15px !important;
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .solgan {
    font-size: 8px !important;
    color: white;
    margin: 0 !important;
    margin-bottom: 0 !important ;
  }
  .Admission-content {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .seconnd-container {
    height: 870px;
    width: 100%;
    /* background-color: red; */
    position: relative;
    /* overflow: hidden; */
  }
  .contentSlide {
    position: absolute;
    width: 85%;

    top: 20px !important;
    padding: 0px 10px;
  }
  .title-choose {
    font-size: 15px;
  }
  .choose-para {
    font-size: 12px;
  }
  .choose-carousel .owl-dots .owl-dot.active span {
    background: #ff6600 !important;
    height: 10px !important;
    width: 10px !important;
  }

  .choose-carousel .owl-dot span {
    background-color: white !important;
    height: 10px !important;
    width: 10px !important;
  }
  /* ===== MAIN CONTAINER ===== */
  .sdzdgg {
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  /* ===== IMAGE CIRCLE ===== */
  .imgWrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
  }

  /* ===== IMAGE FIT ===== */
  .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ===== NAME ===== */
  .Student-title {
    margin: 0 !important;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }

  /* ===== POSITION ===== */
  .depart {
    margin: 0;
    font-size: 8px;
    color: #666;
  }
  .gallery-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* margin: 40px 0; */
  }

  .border-gallery {
    flex: 1;
    height: 4px;
    background-color: black;
  }

  .Gallery-title {
    color: #08254f;
    font-size: 15px;
    margin: 0;
    white-space: nowrap;
  }
  .title-chairperson {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }

  .Name-para {
    margin: 0;
    font-size: 12px;
  }

  /* ===== POSITION ===== */
  .choose-para {
    margin: 0;
    font-size: 8px;
  }
  .overlaypara {
    font-size: 8px !important;
    color: white;
  }
}
