* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.firstcontainer {
  background-image: url("../images/Group\ 141.png");
  background-size: cover; /* cover whole div */
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  width: 100%;
  position: relative;
}
.innerFrst-banner {
  /* height: 50px; */
  position: absolute;
  top: 10px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.school-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfgdgg {
  gap: 20px;
}
.school-name {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.solgan {
  color: white;
}
